@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Quicksand:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  background-color: #fff;
  color: #0f121b;
  overflow-x: hidden;
}

h2 {
  font-family: "Raleway", sans-serif;
  margin: 20px 0px;
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 5px;
}

a {
  color: #0f121b;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

nav {
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.4s ease;
  padding: 40px 150px;
  z-index: 10;
  position: fixed;
}
nav.sticky {
  padding: 25px 100px;
  background: #0f121b;
  -webkit-box-shadow: 0px 8px 16px 3px rgba(0, 0, 0, 0.54);
  box-shadow: 0px 8px 16px 3px rgba(0, 0, 0, 0.1);
}
nav.sticky a {
  color: #fefcfb;
  margin: 0px 20px;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.25rem;
}

#logo {
  font-family: "Press Start 2P", cursive;
  color: #fefcfb;
  font-size: 1rem;
}

.burger {
  display: none;
}

.navbar-links ul {
  position: relative;
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  text-transform: uppercase;
}
.navbar-links li a {
  color: #fefcfb;
  margin: 0px 20px;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.25rem;
  transition: all 0.4s ease;
}
.navbar-links li a:hover {
  text-decoration: underline;
  text-underline-offset: 1rem;
  color: #b2b9c5;
}

#home {
  height: 100vh;
  min-height: 500px;
  background: url(img/header-photo.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#layer {
  display: flex;
  justify-content: center;
  background-color: rgba(15, 18, 27, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#header {
  align-self: center;
  text-align: center;
  transition: all 0.4s ease;
  color: #fefcfb;
  font-family: "Quicksand", sans-serif;
  text-align: center;
}
#header h1 {
  font-size: 8rem;
  font-weight: 700;
  text-transform: uppercase;
}
#header h3 {
  font-weight: 400;
  font-size: 2.25rem;
}

.opacity {
  opacity: 0;
}

#omnie {
  background-color: #0f121b;
  padding: 3.75rem 0rem;
  color: #fefcfb;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#omnie-content {
  display: flex;
  align-items: center;
}
#omnie a {
  text-decoration: none;
  color: #fefcfb;
  font-weight: 700;
}
#omnie a:hover {
  color: #fefcfb;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

#photo {
  flex: 1;
  overflow: hidden;
}
#photo img {
  width: 50%;
  min-width: 50vh;
  border-radius: 50%;
}

#aboutme {
  align-self: center;
  flex: 1;
}

.technologie {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  justify-content: center;
}
.technologie-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.technologie-item {
  margin-top: 1rem;
  text-align: center;
  padding: 0rem 1rem;
}
.technologie-item i {
  font-size: 3rem;
}

.my-links {
  margin-top: 2rem;
}

#portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3.75rem 10rem;
  text-align: center;
}

.portfolio-item {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  align-items: center;
  justify-content: center;
}
.portfolio-item-image {
  display: flex;
  flex: 1;
  text-align: center;
}
.portfolio-item-image img {
  width: 100%;
  min-width: 300px;
}
.portfolio-item-about {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.portfolio-item-about .site-name {
  font-weight: bold;
  font-size: 1.5rem;
}
.portfolio-item-about hr {
  width: 250px;
  margin: 1rem 0rem;
  color: rgba(15, 18, 27, 0.2);
  align-self: center;
}
.portfolio-item-buttons {
  margin-top: 1.5rem;
}

#kontakt {
  padding: 3.75rem 0rem 7rem 0rem;
  text-align: center;
}

footer {
  background-color: #0f121b;
  padding: 1.875rem 0rem;
  text-align: center;
  color: #fefcfb;
}

.footer-text {
  font-size: 0.75rem;
  color: #fefcfb;
  padding-top: 0.5rem;
}
.footer-text a {
  color: #fefcfb;
}

span.button-portfolio-disable, a.button-portfolio, a.button-kontakt, a.button-header {
  display: inline-block;
  transition: all 0.4s ease;
  font-weight: 400;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  border-radius: 0.2rem;
}

a.button-header {
  font-size: 1.5rem;
  padding: 1.5rem 3em;
  border: 0.1em solid #fefcfb;
  color: #fefcfb;
  margin-top: 40px;
  font-weight: 700;
}
a.button-header:hover {
  color: #0f121b;
  background-color: #fefcfb;
}

a.button-kontakt {
  background-color: #0f121b;
  font-size: 1.5rem;
  padding: 1.5rem 2em;
  border: 0.1em solid #fefcfb;
  color: #fefcfb;
  margin-top: 10px;
  font-weight: 700;
}
a.button-kontakt:hover {
  color: #fefcfb;
  background-color: rgba(15, 18, 27, 0.85);
}

a.button-portfolio {
  font-size: 1rem;
  padding: 0.5rem;
  width: 12rem;
  border: 0.1rem solid #0f121b;
  color: #0f121b;
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: bold;
}
a.button-portfolio:hover {
  color: #fefcfb;
  background-color: #0f121b;
}

span.button-portfolio-disable {
  padding: 0.5rem 0em;
  width: 12rem;
  border: 0.1rem solid rgba(15, 18, 27, 0.3);
  font-weight: 400;
  color: rgba(15, 18, 27, 0.3);
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

@media (max-width: 1300px) {
  nav {
    padding: 40px 120px;
    position: absolute;
  }
  nav.sticky {
    padding: 40px 120px;
    position: absolute;
    background: #0f121b;
    -webkit-box-shadow: 0px 8px 16px 3px rgba(0, 0, 0, 0);
    box-shadow: 0px 8px 16px 3px rgba(0, 0, 0, 0);
  }

  #header h1 {
    font-size: 10vw;
    line-height: 10vw;
  }

  .opacity {
    opacity: 1;
  }

  #aboutme {
    padding-left: 2rem;
  }

  #photo {
    flex: 1;
    text-align: center;
  }
  #photo img {
    width: 50%;
    min-width: 50vh;
    height: auto;
    border-radius: 50%;
    margin: 2rem 0rem;
  }

  #portfolio {
    padding: 3.75rem 6rem;
  }
}
@media (max-width: 1200px) {
  #omnie {
    padding: 3.75rem 1rem;
  }

  .technologie {
    flex-direction: column;
  }

  #aboutme {
    padding-left: 0px;
  }
}
@media (max-width: 950px) {
  div {
    overflow-x: hidden;
  }

  nav {
    padding: 40px 40px;
    position: absolute;
  }
  nav.sticky {
    position: absolute;
    padding: 40px 40px;
    background: #0f121b;
  }

  #header h1 {
    font-size: 14vw;
    line-height: 13vw;
  }
  #header h3 {
    font-weight: 400;
    font-size: 2rem;
  }

  #omnie {
    background-color: #0f121b;
    padding: 3.75rem 0rem;
    color: #fefcfb;
  }
  #omnie-content {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }

  #aboutme {
    align-self: center;
    flex: 1;
    padding-left: 0rem;
  }

  #photo {
    flex: 1;
    text-align: center;
  }
  #photo img {
    width: 50%;
    min-width: 30vh;
    height: auto;
    border-radius: 50%;
    margin: 2rem 0rem;
  }

  .my-links {
    margin-top: 2rem;
  }

  .technologie {
    flex-direction: row;
  }

  #portfolio {
    padding: 3.75rem 2rem;
  }

  .portfolio-item-image {
    display: flex;
    justify-content: center;
    margin-right: 10px;
  }
  .portfolio-item-image img {
    margin-bottom: 2rem;
    width: 100%;
    height: auto;
    min-width: 300px;
  }

  #kontakt {
    padding: 0rem 0rem 5rem 0rem;
  }
}
@media (max-width: 800px) {
  nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0rem;
    transition: all 0.4s ease;
  }
  nav.sticky {
    padding: 0;
  }

  #logo {
    padding: 40px 0px 0px 40px;
  }

  .navbar-links {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    width: 100%;
    height: calc(100vh - 100px);
    min-height: 400px;
    background-color: #fefcfb;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 60px;
    left: -100%;
    transition: all 0.4s ease;
  }
  .navbar-links.active {
    height: calc(100vh - 100px);
    min-height: 400px;
    overflow: hidden;
    left: 0;
  }
  .navbar-links ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .navbar-links li {
    padding: 1rem 0rem;
    border-bottom: 1px solid rgba(15, 18, 27, 0.2);
    width: 100%;
    text-align: center;
  }
  .navbar-links li:last-child {
    border-bottom: 0px;
  }

  .navbar-links li a {
    color: #1c202c;
    font-weight: bold;
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
  }
  .navbar-links li a:hover {
    color: #1c202c;
    text-decoration: none;
  }

  #home {
    height: 100vh;
    min-height: 500px;
    background: url(img/header-photo-mini.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  #header h3 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  #omnie {
    padding: 3.75rem 0.3rem;
  }
  #omnie-content {
    width: 100%;
  }

  .technologie {
    flex-direction: column;
  }

  .portfolio-item {
    flex-direction: column;
  }
  .portfolio-item-image {
    order: 1;
  }
  .portfolio-item-about {
    order: 2;
  }

  .burger {
    display: inline-block;
    width: 1.5rem;
    cursor: pointer;
    position: absolute;
    top: 40px;
    right: 40px;
  }

  .burger-line {
    height: 3px;
    margin-bottom: 3px;
    background: #f9f8eb;
    transition: all 0.4s ease;
  }

  .burger.active .burger-line:last-child {
    opacity: 0;
  }
  .burger.active .burger-line:first-child {
    transform: rotate(45deg) translate(4px, 4px);
  }
  .burger.active .burger-line:nth-child(2) {
    transform: rotate(-45deg);
  }
}
a.button-header {
  font-size: 1.25rem;
  padding: 1.25rem 2.5em;
}

@media (max-width: 500px) {
  #portfolio {
    padding: 3.75rem 0rem;
  }
}
@media (max-width: 400px) {
  #photo img {
    width: 50%;
    min-width: 30vh;
  }

  .technologie-row {
    justify-content: space-evenly;
  }
  .technologie-item {
    padding: 0rem 0.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
