@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Quicksand:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  background-color: #fff;
  color: #0f121b;
  overflow-x: hidden;
}

h1 {
  font-family: "Raleway", sans-serif;
  margin: 20px 0px;
  text-align: center;
  font-weight: 700;
  font-size: 2.25rem;
  letter-spacing: 5px;
}

a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* NAWIGACJA */

nav {
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.4s ease;
  padding: 40px 150px;
  z-index: 10;
  position: fixed;
}

nav.sticky {
  position: fixed;
  padding: 25px 100px;
  background: #0f121b;
  -webkit-box-shadow: 0px 8px 16px 3px rgba(0, 0, 0, 0.54);
  box-shadow: 0px 8px 16px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
}

nav.sticky a {
  color: #fefcfb;
  margin: 0px 20px;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.25rem;
}

#logo {
  font-family: "Press Start 2P", cursive;
  color: #f9f8eb;
  font-size: 1rem;
}

.burger {
  display: none;
}

.navbar-links ul {
  position: relative;
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  text-transform: uppercase;
}

.navbar-links li a {
  color: #f9f8eb;
  margin: 0px 20px;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.25rem;
  transition: all 0.4s ease;
}

.navbar-links a:hover {
  text-decoration: underline;
  text-underline-offset: 1rem;
  color: #b2b9c5;
}

#burger {
  display: none;
  font-size: 1.5rem;
  color: #f9f8eb;
  cursor: pointer;
  position: absolute;
  top: 40px;
  right: 40px;
}

/* HEADER */

#home {
  height: 100vh;
  min-height: 500px;
  background: url(img/header-photo.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#layer {
  display: flex;
  justify-content: center;
  background-color: #0f121bd0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#header {
  align-self: center;
  text-align: center;
  transition: all 0.4s ease;
}

#header h1,
#header h3 {
  font-family: "Quicksand", sans-serif;
  color: #f9f8eb;
  text-align: center;
}

#header h1 {
  font-size: 6rem;
  font-weight: 700;
  text-transform: uppercase;
}
#header h3 {
  font-weight: 400;
  font-size: 2.25rem;
}

.opacity {
  opacity: 0;
}

/* ABOUT ME */

#omnie {
  background-color: #0f121b;
  padding: 3.75rem 0rem;
  color: #f9f8eb;
  text-align: center;
}

#omnie-content {
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

#aboutme {
  align-self: center;
  flex: 1;
}

.technologie {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  justify-content: center;
  /* flex-wrap: wrap; */
}

.technologie-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.technologie-item {
  margin-top: 1rem;
  text-align: center;
  padding: 0rem 1rem;
}

.technologie-item i {
  font-size: 3rem;
}

#photo {
  flex: 1;
  text-align: center;
}

#photo img {
  width: 50%;
  min-width: 30vh;
  height: auto;
  border-radius: 50%;
}

#omnie a {
  text-decoration: none;
  color: #f9f8eb;
  font-weight: 700;
}

#omnie a:hover {
  color: #ffffff;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.my-links {
  margin-top: 2rem;
}

/* ABOUT ME END */

/* PORTFOLIO */

#portfolio {
  text-align: center;
  padding: 3.75rem 10rem;
}

#portfolio-list {
  display: flex;
  padding: 3.75rem 0rem;
  align-items: center;
}

#portfolio img {
  max-width: 40vw;
}

.portfolio-foto {
  flex: 1;
}

.portfolio-about {
  text-align: left;
  flex: 1;
  align-self: center;
}

.site-name {
  font-weight: 700;
  margin: 1rem 0rem;
  text-transform: uppercase;
}

hr {
  width: 30%;
  margin: 1rem 0rem;
  color: #0a112848;
}

.portfolio-buttons {
  display: inline;
}

/* PORTFOLIO END */

#kontakt {
  padding: 3.75rem 0rem 7rem 0rem;
  text-align: center;
}

/* FOOTER */

footer {
  background-color: #0f121b;
  padding: 1.875rem 0rem;
  text-align: center;
  color: #f9f8eb;
}

.footer-text,
.footer-text a {
  font-size: 0.75rem;
  color: #f9f8eba4;
  padding-top: 0.5rem;
}

/* FOOTER END */

a.button-header {
  display: inline-block;
  font-size: 1.5rem;
  padding: 1.5rem 3em;
  border: 0.1em solid #ffffff;
  border-radius: 0.2rem;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 400;
  color: #f9f8eb;
  text-align: center;
  transition: all 0.4s ease;
  margin-top: 40px;
  font-weight: 700;
}

a.button-header:hover {
  color: #0f121b;
  background-color: #f9f8eb;
}

a.button-kontakt {
  display: inline-block;
  background-color: #0f121b;
  font-size: 1.5rem;
  padding: 1.5rem 2em;
  border: 0.1em solid #ffffff;
  border-radius: 0.2rem;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 400;
  color: #f9f8eb;
  text-align: center;
  transition: all 0.4s ease;
  margin-top: 10px;
  font-weight: 700;
}
a.button-kontakt:hover {
  color: #f9f8eb;
  background-color: #1c202c;
}

a.button-portfolio {
  display: inline-block;
  font-size: 1rem;
  padding: 0.5rem;
  width: 12rem;
  border: 0.1rem solid #060a18;
  border-radius: 0.2rem;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 400;
  color: #0a1128;
  text-align: center;
  transition: all 0.4s ease;
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

a.button-portfolio:hover {
  color: #f9f8eb;
  background-color: #060a18;
}

span.button-portfolio-disable {
  display: inline-block;
  font-size: 1rem;
  padding: 0.5rem 0em;
  width: 12rem;
  border: 0.1rem solid #060a1856;
  border-radius: 0.2rem;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 400;
  color: #060a1856;
  text-align: center;
  transition: all 0.4s ease;
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

@media (max-width: 1300px) {
  nav {
    padding: 40px 120px;
    position: absolute;
  }

  nav.sticky {
    padding: 40px 120px;
    position: absolute;
    background: #0f121b00;
    -webkit-box-shadow: 0px 8px 16px 3px rgba(0, 0, 0, 0);
    box-shadow: 0px 8px 16px 3px rgba(0, 0, 0, 0);
  }

  #header h1 {
    font-size: 10vw;
    line-height: 10vw;
  }

  #portfolio {
    padding: 3.75rem 2rem;
  }

  .opacity {
    opacity: 1;
  }

  #aboutme {
    padding-left: 2rem;
  }
}

@media (max-width: 950px) {
  h1 {
    font-family: "Raleway", sans-serif;
    margin: 20px 0px;
    text-align: center;
    font-weight: 700;
    font-size: 2.25rem;
    letter-spacing: 5px;
  }

  div {
    overflow-x: hidden;
  }

  /* NAWIGACJA */

  nav {
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.4s ease;
    padding: 40px 40px;
    z-index: 10;
    position: absolute;
  }

  nav.sticky {
    position: absolute;
    padding: 40px 40px;
    background: #0f121b00;
  }

  /* HEADER */

  #header h1,
  #header h3 {
    font-family: "Quicksand", sans-serif;
    color: #f9f8eb;
    text-align: center;
  }

  #header h1 {
    font-size: 14vw;
    line-height: 13vw;
  }
  #header h3 {
    font-weight: 400;
    font-size: 1.3rem;
  }

  /* ABOUT ME */

  #omnie {
    background-color: #0f121b;
    padding: 3.75rem 0rem;
    color: #f9f8eb;
  }

  #omnie-content {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }

  #aboutme {
    align-self: center;
    flex: 1;
    padding-left: 0rem;
  }

  #aboutme ul li {
    margin-left: 30px;
  }

  #photo {
    flex: 1;
    text-align: center;
  }

  #photo img {
    width: 50%;
    min-width: 30vh;
    height: auto;
    border-radius: 50%;
    margin: 2rem 0rem;
  }

  .my-links {
    margin-top: 2rem;
  }

  /* ABOUT ME END */

  /* PORTFOLIO */

  #portfolio {
    text-align: center;
    padding: 3.75rem 1rem;
  }

  #portfolio-list {
    display: flex;
    flex-direction: column;
    padding: 3.75rem 0rem;
    align-items: center;
  }

  #portfolio img {
    max-width: 70vw;
  }

  .portfolio-foto {
    flex: 1;
    padding-bottom: 3rem;
  }

  .portfolio-about {
    text-align: center;
    flex: 1;
    align-self: center;
  }

  .site-name {
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }

  hr {
    width: 100%;
    margin: 1rem 0rem;
    color: #0a112848;
  }

  .portfolio-buttons {
    display: inline;
  }

  /* PORTFOLIO END */

  #kontakt {
    padding: 0rem 0rem 5rem 0rem;
  }
}

@media (max-width: 800px) {
  nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0rem;
    transition: all 0.4s ease;
  }

  nav.sticky {
    padding: 0;
  }

  #logo {
    padding: 40px 0px 0px 40px;
  }

  .navbar-links {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    width: 100%;
    height: calc(100vh - 100px);
    min-height: 400px;
    background-color: #f9f8eb;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
    will-change: transform;
    transition: all 0.4s ease;
  }

  .navbar-links.active {
    height: calc(100vh - 100px);
    min-height: 400px;
    overflow: hidden;
    transform: translateX(0%);
  }

  .navbar-links ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navbar-links li {
    padding: 1rem 0rem;
    border-bottom: 1px solid #1c202c3a;
    width: 100%;
    text-align: center;
  }

  .navbar-links li:last-child {
    border-bottom: 0px;
  }

  .navbar-links li a {
    color: #1c202c;
    font-weight: bold;
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
  }

  .navbar-links li a:hover {
    color: #1c202c;
    text-decoration: none;
  }

  .burger {
    display: inline-block;
    width: 1.5rem;
    cursor: pointer;
    position: absolute;
    top: 40px;
    right: 40px;
  }

  .burger-line {
    height: 3px;
    margin-bottom: 3px;
    background: #f9f8eb;
    transition: all 0.4s ease;
  }

  .burger.active .burger-line:last-child {
    opacity: 0;
  }

  .burger.active .burger-line:first-child {
    transform: rotate(45deg) translate(4px, 4px);
  }

  .burger.active .burger-line:nth-child(2) {
    transform: rotate(-45deg);
  }

  .technologie {
    flex-direction: column;
  }
}
