@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Quicksand:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");

$dark-color: #0f121b;
$main-light: #fefcfb;
$grey-color: #b2b9c5;

@mixin transition {
  transition: all 0.4s ease;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  background-color: #fff;
  color: $dark-color;
  overflow-x: hidden;
}

h2 {
  font-family: "Raleway", sans-serif;
  margin: 20px 0px;
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 5px;
}

a {
  color: $dark-color;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

nav {
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include transition;
  padding: 40px 150px;
  z-index: 10;
  position: fixed;

  &.sticky {
    padding: 25px 100px;
    background: $dark-color;
    -webkit-box-shadow: 0px 8px 16px 3px rgba(0, 0, 0, 0.54);
    box-shadow: 0px 8px 16px 3px rgba(0, 0, 0, 0.1);

    a {
      color: $main-light;
      margin: 0px 20px;
      text-decoration: none;
      font-weight: 400;
      font-size: 1.25rem;
    }
  }
}

#logo {
  font-family: "Press Start 2P", cursive;
  color: $main-light;
  font-size: 1rem;
}

.burger {
  display: none;
}

.navbar-links {
  ul {
    position: relative;
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    text-transform: uppercase;
  }
  li a {
    color: $main-light;
    margin: 0px 20px;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.25rem;
    @include transition;

    &:hover {
      text-decoration: underline;
      text-underline-offset: 1rem;
      color: $grey-color;
    }
  }
}

#home {
  height: 100vh;
  min-height: 500px;
  background: url(img/header-photo.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#layer {
  display: flex;
  justify-content: center;
  background-color: rgba($dark-color, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#header {
  align-self: center;
  text-align: center;
  @include transition;
  color: $main-light;
  font-family: "Quicksand", sans-serif;
  text-align: center;

  h1 {
    font-size: 8rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  h3 {
    font-weight: 400;
    font-size: 2.25rem;
  }
}

.opacity {
  opacity: 0;
}

#omnie {
  background-color: $dark-color;
  padding: 3.75rem 0rem;
  color: $main-light;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-content {
    display: flex;
    align-items: center;
  }

  a {
    text-decoration: none;
    color: $main-light;
    font-weight: 700;

    &:hover {
      color: $main-light;
      text-decoration: underline;
      text-underline-offset: 0.5rem;
    }
  }
}

#photo {
  flex: 1;
  overflow: hidden;

  img {
    width: 50%;
    min-width: 40vh;
    border-radius: 50%;
  }
}

#aboutme {
  align-self: center;
  flex: 1;
}

.technologie {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  justify-content: center;

  &-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &-item {
    margin-top: 1rem;
    text-align: center;
    padding: 0rem 1rem;
  }

  &-item i {
    font-size: 3rem;
  }
}

.my-links {
  margin-top: 2rem;
}

#portfolio {
  text-align: center;
  padding: 3.75rem 10rem;

  &-list {
    display: flex;
    padding: 3.75rem 0rem;
    align-items: center;
  }

  img {
    max-width: 40vw;
    min-width: 300px;
  }

  &-foto {
    flex: 1;
  }
}

.portfolio-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  hr {
    width: 250px;
    margin: 1rem 0rem;
    color: rgba($dark-color, 0.2);
  }

  &:nth-child(odd) {
    flex: 1;

    hr {
      text-align: right;
      width: 250px;
      margin: 1rem 0rem;
    }
  }

  .site-name {
    font-weight: 700;
    // margin: 1rem 0rem;
    text-transform: uppercase;
  }
}

.portfolio-buttons {
  display: inline;
  margin-top: 1rem;
}

#kontakt {
  padding: 3.75rem 0rem 7rem 0rem;
  text-align: center;
}

footer {
  background-color: $dark-color;
  padding: 1.875rem 0rem;
  text-align: center;
  color: $main-light;
}

.footer-text {
  font-size: 0.75rem;
  color: $main-light;
  padding-top: 0.5rem;

  a {
    color: $main-light;
  }
}

%button {
  display: inline-block;
  @include transition;
  font-weight: 400;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  border-radius: 0.2rem;
}

a.button-header {
  @extend %button;
  font-size: 1.5rem;
  padding: 1.5rem 3em;
  border: 0.1em solid $main-light;
  color: $main-light;
  margin-top: 40px;
  font-weight: 700;

  &:hover {
    color: $dark-color;
    background-color: $main-light;
  }
}

a.button-kontakt {
  @extend %button;
  background-color: $dark-color;
  font-size: 1.5rem;
  padding: 1.5rem 2em;
  border: 0.1em solid $main-light;
  color: $main-light;
  margin-top: 10px;
  font-weight: 700;

  &:hover {
    color: $main-light;
    background-color: rgba($dark-color, 0.85);
  }
}

a.button-portfolio {
  @extend %button;
  font-size: 1rem;
  padding: 0.5rem;
  width: 12rem;
  border: 0.1rem solid $dark-color;
  color: $dark-color;
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: bold;

  &:hover {
    color: $main-light;
    background-color: $dark-color;
  }
}

span.button-portfolio-disable {
  @extend %button;
  padding: 0.5rem 0em;
  width: 12rem;
  border: 0.1rem solid rgba($dark-color, 0.3);
  font-weight: 400;
  color: rgba($dark-color, 0.3);
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

@media (max-width: 1300px) {
  nav {
    padding: 40px 120px;
    position: absolute;

    &.sticky {
      padding: 40px 120px;
      position: absolute;
      background: $dark-color;
      -webkit-box-shadow: 0px 8px 16px 3px rgba(0, 0, 0, 0);
      box-shadow: 0px 8px 16px 3px rgba(0, 0, 0, 0);
    }
  }

  #header h1 {
    font-size: 10vw;
    line-height: 10vw;
  }

  #portfolio {
    padding: 3.75rem 2rem;
  }

  .opacity {
    opacity: 1;
  }

  #aboutme {
    padding-left: 2rem;
  }
}

@media (max-width: 950px) {
  div {
    overflow-x: hidden;
  }

  nav {
    padding: 40px 40px;
    position: absolute;

    &.sticky {
      position: absolute;
      padding: 40px 40px;
      background: $dark-color;
    }
  }

  #header {
    h1 {
      font-size: 14vw;
      line-height: 13vw;
    }

    h3 {
      font-weight: 400;
      font-size: 2rem;
    }
  }

  #omnie {
    background-color: $dark-color;
    padding: 3.75rem 0rem;
    color: $main-light;

    &-content {
      display: flex;
      flex-direction: column;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      align-items: center;
    }
  }

  #aboutme {
    align-self: center;
    flex: 1;
    padding-left: 0rem;
  }

  #photo {
    flex: 1;
    text-align: center;

    img {
      width: 50%;
      min-width: 30vh;
      height: auto;
      border-radius: 50%;
      margin: 2rem 0rem;
    }
  }

  .my-links {
    margin-top: 2rem;
  }

  #portfolio {
    text-align: center;
    padding: 3.75rem 1rem;

    &-list {
      display: flex;
      flex-direction: column;
      padding: 3.75rem 0rem;
      align-items: center;
    }

    &-foto {
      flex: 1;
      padding-bottom: 3rem;
    }

    img {
      max-width: 70vw;
    }
  }

  .portfolio-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
    align-self: center;

    hr {
      width: 300px;
      margin: 1rem 0rem;
      color: rgba($dark-color, 0.2);
    }

    &:nth-child(odd) {
      order: 2;
    }
  }
  .site-name {
    font-weight: 700;
    margin: 1rem 0rem;
    text-transform: uppercase;
  }

  .portfolio-buttons {
    display: inline;
  }

  #kontakt {
    padding: 0rem 0rem 5rem 0rem;
  }
}

@media (max-width: 800px) {
  nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0rem;
    @include transition;

    &.sticky {
      padding: 0;
    }
  }

  #logo {
    padding: 40px 0px 0px 40px;
  }

  .navbar-links {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    width: 100%;
    height: calc(100vh - 100px);
    min-height: 400px;
    background-color: $main-light;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 60px;
    left: -100%;
    @include transition;

    &.active {
      height: calc(100vh - 100px);
      min-height: 400px;
      overflow: hidden;
      left: 0;
    }

    ul {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    li {
      padding: 1rem 0rem;
      border-bottom: 1px solid rgba($dark-color, 0.2);
      width: 100%;
      text-align: center;

      &:last-child {
        border-bottom: 0px;
      }
    }
  }

  .navbar-links li a {
    color: #1c202c;
    font-weight: bold;
    font-size: 2.5rem;
    letter-spacing: 0.5rem;

    &:hover {
      color: #1c202c;
      text-decoration: none;
    }
  }

  #home {
    height: 100vh;
    min-height: 500px;
    background: url(img/header-photo-mini.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  #header {
    h3 {
      font-size: 1.5rem;
    }
  }

  h2 {
    font-size: 2.5rem;
  }

  .technologie {
    flex-direction: column;
  }

  .burger {
    display: inline-block;
    width: 1.5rem;
    cursor: pointer;
    position: absolute;
    top: 40px;
    right: 40px;
  }

  .burger-line {
    height: 3px;
    margin-bottom: 3px;
    background: #f9f8eb;
    @include transition;
  }

  .burger.active .burger-line {
    &:last-child {
      opacity: 0;
    }
    &:first-child {
      transform: rotate(45deg) translate(4px, 4px);
    }
    &:nth-child(2) {
      transform: rotate(-45deg);
    }
  }
}

a.button-header {
  font-size: 1.25rem;
  padding: 1.25rem 2.5em;
}

@media (max-width: 800px) {
  #omnie {
    &-content {
      width: 90%;
    }
  }
}
